.page__container {
    height: 100vh;
    position: relative;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__arrows {
    position: fixed;
    top: 40%;
}

.page__header {
    margin: 3vh 2vw 1vh 0;
}

.page__media_holder {
    flex-grow: 0.9;
    overflow: hidden;
}

.page__buttons_holder {
    margin-bottom: 3vh;
}